body { margin: 0; }
canvas { display: block; }

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
  }
  
  #loading-bar {
    width: 50%;
    height: 20px;
    background-color: #dddddd;
    border-radius: 10px;
    overflow: hidden;
  }
  
  #loading-bar-progress {
    width: 0%;
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s;
  }
  
  #loading-text {
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
  }
  